@import 'utils';

.form {
    flex-direction: column;

    .field {
        position: relative;
        justify-content: flex-start;
        margin: 0.5rem;

        .label {
            position: absolute;
            letter-spacing: 2.5px;
            margin: 0 0.75rem 0;
            pointer-events: none;
            transition: 0.4s ease-in-out;
            text-align: center;
        }
        input {
            width: 30ch;
            padding: 8px;
            outline: none;
            transition: 0.4s ease-in-out;
            box-shadow: 0 0 4px black;
            border-radius: 4px;

            &:focus,
            &:valid {
                border: 2px solid $theme-color;
                box-shadow: 0 0 4px $theme-color;
            }

            &:focus ~ .label,
            &:valid ~ .label {
                color: $theme-color;
                transform: translate(10px, -20px);
                background-color: $background-color;
            }
        }
    }
}

.btnAdd {
    @extend .btn;
    @include set-color(#5555f0);
    font: $btn-font;
}
