@import 'utils';

.search {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: 0.25s ease-in;
    box-shadow: 0 0 0 3px $theme-color;
    overflow: hidden;

    .icon {
        width: 35px;
        height: 100%;
        cursor: pointer;
    }

    .faSearch {
        @extend .icon;
        position: absolute;
        background-color: white;
    }

    input {
        width: 190px;
        padding: 2px;
        border: none;
        outline: none;
        font-size: 1rem;
    }

    input[type='search']::-webkit-search-cancel-button {
        display: none;
    }

    &.active {
        width: 250px;
        border-radius: 5px;

        .faSearch {
            position: static;
        }
    }
}
