@import 'utils';

.form {
    flex-direction: column;

    .field {
        position: relative;
        justify-content: flex-start;
        margin: 0.5rem;

        .label {
            position: absolute;
            letter-spacing: 4px;
            margin: 0 5px 0;
            pointer-events: none;
        }
        input {
            width: 30ch;
            padding: 5px;
            transition: 0.4s ease-in-out;

            &:focus .label {
                transform: translate(10px, -18px);
                background-color: $background-color;
            }
        }
    }
}

.btnAdd {
    @extend .btn;
    @include set-color(#5555f0);
    font: $btn-font;
}
