// variable
$font-color: black;
$background-color: white;
$theme-color: crimson;
$head-font: 800 1.5rem poppins;
$sub-head-font: 600 1.5rem open-sans;
$btn-font: 600 1rem roboto;

// fuction
@function set-text-color($color) {
    @if (lightness($color) > 70) {
        @return black;
    } @else {
        @return white;
    }
}

// mixins
@mixin set-color($color) {
    background-color: $color;
    color: set-text-color($color);
}

// loops & statements

// $props: (
//     c: center,
//     fs: flex-start,
//     fe: flex-end,
//     sa: space-around,
//     se: space-evenly,
//     sb: space-between,
// );

// @each $key1, $val1 in $props {
//     @each $key2, $val2 in $props {
//         .flex-#{$key1}-#{$key2} {
//             display: flex;
//             justify-content: #{$val1};
//             align-items: #{$val2};
//         }
//     }
// }
